.hero-section {
    background-color: var(--dark-color);
    background-image: url('https://infinitycrypto.com/assets/bg/homeBG.svg');
    /* background-attachment: fixed; */
    background-size: contain;
    height: 600px;
    margin-bottom: -100px;
    width: 100%;
}
.hero-section .container-fluid {
    padding-top: 100px;
    color: var(--white-color);
}
.hero-section h1 {
    font-size: 42px;
    font-weight: 550;
    letter-spacing: 0.52px;
}
.hero-section p {
    font-size: 16px;
    font-weight: 550;
    letter-spacing: 0.52px;
}

/* Coin-Section */
.coin-section {
    background-color: #ffffff;;
}
.coin-section.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.coin-section .section-header {
    background-color: #f9fafc;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: var(--dark-color);
}
.coin-section .list-group-item:first-child {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.coin-section .list-group-item:last-child {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.coin-section li {
    padding: 10px 25px;
}
.coin-section li a {
    text-decoration: none ;
}
.coin-section li:hover {
    box-shadow: 0px 15px 8px 5px #e9e8e8;
    transform: scale(1.01);
    /* transition: .5s ease-in-out; */
    z-index: 2;
}
.coin-section li:nth-child(even) {
    background-color: #fbfcfd;
}
.coin-grid {
    margin-top: 15px;
    display: grid;
    grid-template-areas: 'coin-pair coin-price coin-change coin-chart coin-trade';
    grid-template-columns: 1.3fr 1fr 1fr 1fr 0.75fr;
}
.coin-section .text-area {
    line-height: 0.5;
}
.coin-section .text-area h6 {
    color: var(--dark-color);
}
.coin-section .text-area p {
    letter-spacing: 0.32px;
}
.coin-section .coin-trade .btn-primary,
.regInfo-section .reg-info .btn-primary,
.trade-section .trade-info .btn-primary,
.earn-section .earn-info .btn-primary,
.ecosystem-section .ecosystem-info .btn-primary,
.platform-section .platform-img .btn-primary {
    background: linear-gradient(90.32deg, rgb(27, 149, 235) 2.5%, rgb(20, 95, 211) 99.8%);
    border-radius: 5px;
    /* color: rgb(255, 255, 255) ; */
}
.increase {
    color: #1c9f71;
}
.decrease {
    color: #d73d51;
}
.coin-section .action-area {
    border-bottom: 1px solid #d7cfcf;
    text-decoration: none;
    padding: 15px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 15px 8px 5px #e9e8e8;
}
.coin-section .action-area a {
    text-decoration: none;
    color: #798aa9;
}

.regInfo-section {
    display: grid;
    justify-content: center;
    flex-wrap: wrap-reverse;
    grid-template-columns: 1fr 1.19fr;
    /* gap: 200px; */
    padding: 50px 0px ;
    margin: auto;
}
.regInfo-section img,
.trade-section img,
.earn-section img {
    width: calc(100% + 9px);
    top: -22px;
    position: relative;
}
.regInfo-section .reg-info p {
    max-width: 450px;
    
}
.regInfo-section .reg-info h1 {
    font-size: 40px;
}
.regInfo-section .reg-info p,
.trade-section .trade-info p,
.earn-section .earn-info p,
.ecosystem-section .ecosystem-info p,
.platform-section .platform-info p,
.features-section .features-info p,
.roadmap-details-mobile p {
    font-size: 15px;
    letter-spacing: 0.27;
    line-height: 34px;
    color: #6e7ba3;
}

.trade-section {
    display: grid;
    grid-template-columns: 500px 1fr;
    flex-wrap: wrap;
    gap: 10px;
    padding: 50px 20px;
}
.earn-section {
    display: grid;
    grid-template-columns: 1fr 500px;
    flex-wrap: wrap;
    gap: 10px;
    padding: 50px 20px;
}

.ecosystem-section {
    position: relative;
}
.ecosystem-info h1 {
    font-size: 40px;
}
.eco-img {
    width: calc(100% + 9px);
    height: auto;
    position: relative;
    bottom: -85px;
    max-width: 800px;
    right: 0px;
    z-index: -2;
}
.eco-img img {
    width: 100%;
    height: auto;
}


.platform-section {
    background-color: #08112c;
}
.platform-section .platform-heading,
.future-section .future-heading {
    padding-top: 125px;
}
.platform-section .platform-heading h1,
.future-section .future-heading h1 {
    font-size: 42px;
}
.platform-section .platform-heading p,
.future-section .future-heading p {
    font-size: 16px;
    line-height: 36px;
    color: #a5acbf;
    letter-spacing: 0.42px;
}
.platform-section .platform-img {
    position: relative;
    cursor: pointer;
}
.platform-section .platform-img .platform-btn {
    position: relative;
    /* background: linear-gradient(9.8deg, rgba(6, 12, 33, 0.5) 20.1%, rgba(8, 20, 47, 0.05) 92.77%); */
    top: 150px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.25s ease 0s;
}

.platform-section .platform-img:hover .platform-btn {
    opacity: 1;
    visibility: visible;
}
.platform-section .platform-info {
    margin: auto;
}

.future-section {
    background: url('https://infinitycrypto.com/assets/bg/homeFutureBGDesktop.svg');
    background-position: center;
    padding-bottom: 75px;
}
.features-section .features-info .text-primary {
    color: #0090eb !important;
}

.roadmap {
    margin: auto;
    position: relative;
    padding-top: 50px;
}

.future-section .roadmap-num {
    font-weight: 600;
    font-size: 24px;
    line-height: 16px;
    color: var(--white-color);
    padding: 14px;
    height: 50px;
    width: 50px;
    min-height: 50px;
    min-width: 50px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background: #081646;
    justify-content: center;
    cursor: context-menu;
    z-index: 1;
}
.roadmap-details {
    padding: 25px 50px;
} 
.roadmap-details-mobile .roadmap-num:hover {
    background-color: var(--basic-color);
}
.roadmap-details-mobile h5 {
    color: #f3f5fb;
}
.roadmap-details.first {
    max-width: 80%;
}
.roadmap-details.second {
    position: relative;
    left: 50px;
}
.roadmap .divider {
    background: linear-gradient(90deg, rgb(2, 8, 25) 1.51%, rgb(0, 89, 247) 51.18%, rgb(3, 8, 26) 100.84%);
    width: 100%;
    height: 2px;
}
.roadmap-details-mobile .roadmap-mobile-show {
    display: grid;
    gap: 30px;
    position: relative;
}
.roadmap-details-mobile .divider-mobile {
    background: linear-gradient(90deg, rgb(2, 8, 25) 1.51%, rgb(0, 89, 247) 51.18%, rgb(3, 8, 26) 100.84%);
    width: 2px;
    height: 85%;
    position: absolute;
    top: 15px;
    left: 35px;
    z-index: 1;
}
.roadmap-details-mobile {
    display: none;
}




@media (max-width: 900px) {
    .regInfo-section {
        display: flex;
        flex-direction:column-reverse;
        gap: 70px;
        padding: 0px 0px 110px;
    }
    .regInfo-section .reg-info p {
        max-width: 95% ;
    }
    .trade-section {
        gap: 70px;
        grid-template-columns: 100%;
    }
    .earn-section {
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .ecosystem-info {
        text-align: center;
        margin: auto;
        max-width: 75%;
    }
}
@media (max-width: 767px) {
    .hero-section {
        margin-bottom: 20px;
    }
    .ecosystem-info {
        max-width: 100%;
    }
    .coin-chart {
        display: none;
    }
    .coin-grid {
        grid-template-areas: 'coin-pair coin-price coin-change coin-trade';
        grid-template-columns: 1.3fr 1.1fr 1.1fr 1fr;
    }
    .platform-section .platform-img .platform-btn {
        top: 110px;
    }
}
@media (max-width: 600px) {
    .future-section {
        background: url('https://infinitycrypto.com/assets/bg/homeFutureBGDesktop.svg') center bottom -550px / cover rgb(3, 10, 31);
        /* background-position: center; */
        background-size: 150% 95% ;
        padding-bottom: 10px;
        z-index: 1;
    }
    .roadmap-desktop-show {
        display: none;
    }
    .roadmap-details-mobile {
        display: grid;
        padding-bottom: 150px;
    }
}
@media (max-width: 400px) {
    .hero-section h1 {
        font-size: 30px;        
    }
    .regInfo-section .reg-info h1,
    .trade-section .trade-info h1,
    .earn-section .trade-info h1,
    .platform-section .platform-heading h1,
    .ecosystem-info h1 {
        font-size: 36px;
    }
    .future-section .future-heading h1 {
        font-size: 40px;
    }
    .coin-trade {
        display: none;
    }
    .coin-grid {
        grid-template-areas: 'coin-pair coin-price coin-change';
        grid-template-columns: 1.4fr 1fr 1fr;
    }
    .navbar {
        flex-wrap: nowrap !important;
    }
    .gap-md-4 .btn-primary {
        margin-right: 4px;
    }
    .eco-img {
        bottom: -50px;
    }
    /* .future-section {
        background: url('https://infinitycrypto.com/assets/bg/homeFutureBGDesktop.svg') bottom / cover rgb(3, 10, 31);
        background-position: center;
        padding-bottom: 105px;
    } */
}
