@import './header.css';
@import './main.css';
@import './footer.css';

:root {
  --basic-color: #1c91e9;
  --basic-dark: #06101f;
  --dark-color: #030a1ff4;
  --white-color: #fff;
  --offcanvas-bg-color: #0b1225;
  --text-common-color: #81859b;
}

.show {
  display: block;
}
.hide {
  display: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0 !important;
}

/* Header */
/* Go to header.css */


/* main */
/* Go to main.css  */

/* footer */
/* Go to footer.css  */
